.one {
  color: #31B53E;
}

.two {
   color: #512DA8;
}

.three {
    color: #e53935;
}

.four {
   color: #6A9113;
}

h1 {
    font-size: 2rem;
    line-height: 1.5;
}

.container {
    margin: 0 1.2rem;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}
footer {
    position: absolute;
    bottom: 30px;
    left: 20%;
    right: 20%;
}